@{
	ViewData["Title"] = "Index1";
}

<h1>Index1</h1>
<div id="userData" class="container">
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/getUsersFromApi.js"></script>